.icon {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 12px;
  display: flex;
  align-items: center;
}

.icon {
  width: 24px;
  height: 24px;
  padding: 12px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.1s ease,
    box-shadow 0.3s ease;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.icon:hover {
  background-color: #f0f0f0; /* Gris claro al pasar el mouse */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.icon:active {
  transform: scale(0.95);
  background-color: #e0e0e0; /* Más oscuro al hacer click */
}
